.home-body {
    height: 100%;
    display: flex;
    min-height: 100vh;
    font-family: 'Poppins';
    flex-direction: column;
    background-color: rgb(240, 240, 255);
}

.home-section {
    flex: 1;
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    flex-direction: column;
}

.home-1 {
    flex: 1;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.home-2-1 {
    display: flex;
}

.home-2-1-1 {
    margin: 0;
    padding: 0;
    width: 75%;
    height: 13.9vh;
    border-radius: 0px;
    background-color: rgb(230, 230, 255);
}

#home-cal-dis {
    margin: 0;
    height: 13.9vh;
    font-size: 2.5rem;
    border-radius: 0px;
    padding: 5px 20px 0px 20px;
    background-color: rgb(230, 230, 255);
}

#home-cal-btn-1,
#home-cal-btn-2,
#home-cal-btn-3,
#home-cal-btn-4,
#home-cal-btn-5,
#home-cal-btn-6,
#home-cal-btn-7,
#home-cal-btn-8,
#home-cal-btn-9,
#home-cal-btn-10,
#home-cal-btn-11,
#home-cal-btn-12,
#home-cal-btn-13,
#home-cal-btn-14,
#home-cal-btn-15,
#home-cal-btn-16,
#home-cal-btn-17 {
    width: 25%;
    height: 14vh;
    font-size: 2rem;
    border-radius: 0px;
    font-family: 'Poppins';
}

@media (max-width: 500px) {
    .home-1 {
        font-size: 2.7rem;
    }

    .home-2-1-1 {
        height: 12vh;
    }

    #home-cal-dis {
        height: 12vh;
        font-size: 1.75rem;
    }

    #home-cal-btn-1,
    #home-cal-btn-2,
    #home-cal-btn-3,
    #home-cal-btn-4,
    #home-cal-btn-5,
    #home-cal-btn-6,
    #home-cal-btn-7,
    #home-cal-btn-8,
    #home-cal-btn-9,
    #home-cal-btn-10,
    #home-cal-btn-11,
    #home-cal-btn-12,
    #home-cal-btn-13,
    #home-cal-btn-14,
    #home-cal-btn-15,
    #home-cal-btn-16,
    #home-cal-btn-17 {
        height: 12vh;
        font-size: 1.5rem;
    }
}

/* Footer */

.footer-body {
    width: 100%;
    text-align: center;
}

.footer-link {
    color: black;
    text-decoration: none;
}

@media (max-width: 700px) {
    .footer-body {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .footer-body {
        font-size: 0.8rem;
    }
}